* {
  box-sizing: border-box;
}

.page {
  background: #fffefb;
}

.content {
  padding: 32px 32px 0 32px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 16px;
}

.items-add__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #3f3f3f;
  margin: 0;
}

.items-add__form {
  margin-top: 16px;
  padding: 24px;
  width: 100%;
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

.items-add__span {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.02em;
  color: #49485e;
  margin-top: 16px;
  position: relative;
}

.items-add__required {
  position: absolute;
  top: -1px;
  right: -5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff8484;
}

.items-add__span_type_name {
  margin-top: 0;
}

.items-add__input {
  width: 100%;
  min-height: 36px;
  margin: 4px 0 0 0;
  padding: 10px 0 10px 16px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #3f3f3f;
}

.items-add__button {
  margin: 24px 0 0 0;
  padding: 0;
  width: 100%;
  min-height: 36px;
  left: 56px;
  top: 463px;
  background: #eeeeee;
  border-radius: 10px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #b4b4b4;
}
.items-add__button_active {
  background: #7bae73;
  color: #fff;
  cursor: pointer;
}

.items-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.items-cards__select {
  width: 121.49px;
  height: 36px;
  background: #fffefb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #b4b4b4;
  cursor: pointer;
}

.items-cards__select-cursor {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  margin-left: 5px;
  transform: rotate(45deg);
  position: relative;
  top: -2px;
}

.items-cards__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding-top: 16px;
}

.items-cards__item {
  background: #fffefb;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04),
    0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  position: relative;
}

.items-cards__del {
  width: 32px;
  height: 32px;
  background: #ff8484;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0;
  cursor: pointer;
  visibility: hidden;
	opacity: 0;
	transition: .3s;
}

.items-cards__item:hover .items-cards__del {
  visibility: visible;
	opacity: 1;
	transition: .3s;
}

.items-cards__img {
  width: 100%;
}

.items-cards__title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #3f3f3f;
  margin: 0;
  padding: 16px 0 0 16px;
}

.items-cards__about {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3f3f3f;
  margin: 0;
  padding: 16px 16px 0 16px;
}

.items-cards__price {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #3f3f3f;
  margin: 0;
  padding: 32px 0 24px 16px;
}
